* {
    margin: 0 0;
    padding: 0 0;
    color: var(--color-text);
    font-family: var(--font-thai),var(--font-main);
    font-weight: var(--font-weight-sma);
}
html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    background-color: var(--color-bg);
    padding-left: 25%;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 25rem;
}

.logo {
    padding: 0 5rem;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo>div {
    font-size: 40px;
    font-weight: bold;
}
  
.login-form {
    width: 100%;
    padding: 5rem 8rem;
    background-color: var(--color-darkgray);
    border: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--color-lightgray);
    display: flex;
    flex-direction: column;
    justify-content: center;
}   
  
.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.form-group label {
    margin-bottom: 0.25rem;
    font-weight: bold;
}
  
.form-group input {
    padding: 0.3rem 0.3rem;
    padding-right: 0;
    width: 100%;
    font-size: 18px;
    background: none;
    outline: none;
    border: none;
    border-bottom: solid;
    border-width: 1px;
    border-color: var(--color-darkwhite);
}
 
.btn {
    display: block;
    justify-self: center;
    align-self: center;
    padding: 8px;
    margin-top: 1rem;
    width: 50%;
    font-size: 18px;
    color: var(--color-text);
    background-color: var(--color-darkwhite);
    border: solid;
    border-radius: 40px;
    border-width: 1px;
    border-color: var(--color-gray17);
    cursor: pointer;
}
